tensorboardabsl-py==0.14.1
cloudpickle==2.0.0
imagesize==1.2.0
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.4.58
Pillow==8.3.2
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
torch==1.9.1
torchvision==0.10.1
tornado==6.1
tqdm==4.62.3
yacs==0.1.8
